<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimbofer.hime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="aj8ntnHqK73s2LxmkWnPa9yJdPazzVg2DZj9QQ6f" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="CbKfkP6JoRu5UvoXUeQMWkdqA6GKSPpWm38KmSsd" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InsuranceAdminProfile"
            android:label="@string/title_activity_insurance_admin_profile"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_insurance_admin_profile"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.ViewPatients"></activity>
    </application>

</manifest>
